.smex-items
amx-items
*~$
.cache/
transient/
elpa/
history
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
network-security.data
*.pyc
*.elc
.lsp-session-v1
.org-id-locations
url/
eln-cache/
elpy/rpc-venv/
tree-sitter/*.dylib
